
<%= form_tag({controller: "solve", action: "top"}, multipart: true) do%>
    <div class = "form-group">
        <%= text_area_tag(:"2dlp_text", @default_form_text, {rows:10, class:"form-control"})%>
        <%p @default_form_text%>
        <%= file_field_tag(:"2dlp_file")%>
        <%= submit_tag("計算", class: "btn btn-primary") %>
    </div>
<% end %>



<% @messages.each do |message|%>
    <br>
    <pre> <%= message %> </pre>
<%end %>


<%counter = 0%>
<% @data_for_plot.zip(@colors_for_plot) do |lines, colors| %>
    phase <%=counter%>
    <%counter+=1%>
    <%= line_chart(lines, colors:colors, max:50, min:-50, height:"800px", x_title: "xxxxx", y_title: "yyyyyy", library:{pointRadius:0}) %>
    <div class="space"> </div>
<% end %>