<!DOCTYPE html>
<html>
  <head>
    <title>TwoDimensionalLp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG"></script>
  </head>


  
  <body class="container">
    <%= render template:"layouts/solve_header" %>
    <%= yield %>
    <%= render template:"layouts/solve_footer" %>
  </body>
</html>